<!-- FOOTER -->
<footer class="container">
    <p class="float-end"><a href="#">
            <img alt="arrow_upward" src="/images/icons/arrow_upward_black_24dp.svg" title="Back to top"></a>
    </p>
    <p id="footer-text" class="text-muted">&copy; 2021 Stefano Crotti &middot; <a href="#">Privacy</a> &middot; <a
            href="#">Terms</a>
    </p>

    <div class="text-center float">
        <a class="social-link" href="https://github.com/stecrotti1/ELibrary" title="GitHub">
            <img alt="github" class="social" src="/images/icons/github.svg">
        </a>

        <a class="social-link" href="https://twitter.com" title="Twitter">
            <img alt="twitter" class="social" src="/images/icons/twitter.svg">
        </a>

        <a class="social-link" href="https://www.linkedin.com/" title="Linkedin">
            <img alt="linkedin" class="social" src="/images/icons/linkedin.svg">
        </a>

        <a class="social-link" href="https://web.telegram.org/" title="Telegram">
            <img alt="telegram" class="social" src="/images/icons/telegram.svg">
        </a>
    </div>

</footer>
</body>

</html>