<!-- ALTERNATIVE FOOTER -->
<footer class="container">
    <p id="footer-text">&copy; 2021 Stefano Crotti &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</body>

</html>