<!-- ALTERNATIVE FOOTER -->
<footer class="container fixed-bottom text-center">
    <p id="footer-text text-muted">&copy; 2021 Stefano Crotti &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</body>

</html>