<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Stefano Crotti" name="author">

    <!-- styles -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

    <link href="/stylesheets/index.css" rel="stylesheet">

    <!-- scripts -->
    <script defer crossorigin="anonymous"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

    <title>
        <%= title ? `ELibrary | ${title}` : 'ELibrary' %>
    </title>
</head>

<body>
    <header>

        <!-- Navbar -->

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <!-- Title and logo -->

                <a class="navbar-brand navbar-title" href="/index">
                    <img alt="book_white_24dp" class="d-inline-block align-text-top" height="24"
                        src="/images/icons/book_white_24dp.svg" width="30">
                    ELibrary

                    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active navbar-title" href="/index">Home</a> <!-- FIXME: -->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-title" href="#">Libri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-title" href="#">EBooks</a>
                            </li>
                        </ul>
                        <!-- Search, Login and Sign Up -->

                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                            <input aria-label="Ricerca" class="form-control form-control-dark" id="search"
                                placeholder="Ricerca" type="search">
                        </form>
                        <div class="text-end">
                            <a class="btn btn-outline-light me2" href="/login" id="login-btn" type="button">Login</a>

                            <a class="btn btn-outline-light me2" href="/register" id="signup-btn"
                                type="button">Iscriviti</a>
                        </div>

                </a>
            </div>
        </nav>
    </header>