<%- include('header'); -%>

<main>

    <!-- Carousel -->

    <div class="carousel slide" data-bs-ride="carousel" id="myCarousel">
        <div class="carousel-indicators">
            <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
                    data-bs-target="#myCarousel" type="button"></button>
            <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#myCarousel" type="button"></button>
            <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#myCarousel" type="button"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img alt="slide 0" src="/public/images/carousel/slide_0.jpg">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Iscriviti.</h1>
                        <p>Registrati gratuitamente e inizia a leggere subito.</p>
                        <p><a class="btn btn-lg btn-outline-light" href="#">Registrati</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img alt="slide 2" src="/public/images/carousel/slide_2.png">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Scopri i nuovi arrivi.</h1>
                        <p>Nuovi ebook e libri pronti da leggere</p>
                        <p><a class="btn btn-lg btn-outline-light" href="#">Scopri</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img alt="slide 1" src="/public/images/carousel/slide_1.jpg">

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-outline-light" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#myCarousel" type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#myCarousel" type="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img alt="witcher-books" class="bd-placeholder-img rounded-circle"
                     src="/public/images/witcher-books.jpg">

                <h2>The Witcher</h2>
                <p class="home-text">The Witcher è una serie di romanzi e racconti fantasy scritta dall'autore
                    polacco Andrzej Sapkowski tra il 1990 e il 1999 e nel 2013.
                    La serie è composta da 6 romanzi e narra le avventure di Geralt di Rivia, uno degli ultimi
                    strighi (Witcher) della sua epoca.</p>
                <p><a class="btn btn-outline-light" href="#">Vedi &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img alt="lord-of-the-rings-books" class="bd-placeholder-img rounded-circle"
                     src="/public/images/lord-of-the-rings.jpg">

                <h2>Il Signore degli Anelli</h2>
                <p class="home-text">Il Signore degli Anelli. è un romanzo high fantasy epico scritto da J. R. R.
                    Tolkien e ambientato alla fine della Terza Era dell'immaginaria Terra di Mezzo.</p>
                <p><a class="btn btn-outline-light" href="#">Vedi &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img alt="harry-potter-books" class="bd-placeholder-img rounded-circle"
                     src="/public/images/harry-potter-books.jpg">

                <h2>Harry Potter</h2>
                <p class="home-text">Harry Potter è una serie di romanzi fantasy scritta da J. K. Rowling. La saga è
                    incentrata sulle avventure del giovane mago Harry Potter e dei suoi migliori amici Ron Weasley e
                    Hermione Granger,
                    studenti della Scuola di Magia e Stregoneria di Hogwarts, ed è ambientata principalmente
                    nell'immaginario mondo magico.</p>
                <p><a class="btn btn-outline-light" href="#">Vedi &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">EBook: <span class="text-muted">leggi quando vuoi, dove vuoi.</span></h2>
                <p class="lead">Prenota o compra i tuoi ebook preferiti.</p>
            </div>
            <div class="col-md-5">
                <svg aria-label="Placeholder: 500x500"
                     class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                     focusable="false" height="500" preserveAspectRatio="xMidYMid slice" role="img"
                     width="500" xmlns="http://www.w3.org/2000/svg">
                    <title>Placeholder</title>
                    <rect fill="#eee" height="100%" width="100%"/>
                    <text dy=".3em" fill="#aaa" x="50%"
                          y="50%">500x500
                    </text>
                </svg>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Libri: <span
                            class="text-muted">prenotazione con ritiro in negozio.</span></h2>
                <p class="lead">Scegli i libri che vuoi leggere e ritirali entro 1 settimana</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg aria-label="Placeholder: 500x500"
                     class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                     focusable="false" height="500" preserveAspectRatio="xMidYMid slice" role="img"
                     width="500" xmlns="http://www.w3.org/2000/svg">
                    <title>Placeholder</title>
                    <rect fill="#eee" height="100%" width="100%"/>
                    <text dy=".3em" fill="#aaa" x="50%"
                          y="50%">500x500
                    </text>
                </svg>

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
</main>

<%- include('footer'); -%>