<header>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <!-- Title and logo -->

            <a class="navbar-brand navbar-title" href="/index">
                <img alt="book_white_24dp" class="d-inline-block align-text-top" height="24"
                    src="/images/icons/book_white_24dp.svg" width="30">
                ELibrary

                <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active navbar-title" href="/index">Home</a> <!-- FIXME: -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-title" href="#">Libri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-title" href="#">EBooks</a>
                        </li>
                    </ul>
                    <!-- Search, Login and Sign Up -->

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input aria-label="Ricerca" class="form-control form-control-dark" id="search"
                            placeholder="Ricerca" type="search">
                    </form>
                    <div class="text-end">
                        <a class="btn btn-outline-light me2" href="/login" id="login-btn" type="button">Login</a>

                        <a class="btn btn-outline-light me2" href="/register" id="signup-btn"
                            type="button">Iscriviti</a>
                    </div>

            </a>
        </div>
    </nav>
</header>