<%- include('authentication-header', {title}); -%>

    <main class="form-signin">

        <form method="POST">
            <img class="mb-4" src="/images/icons/book_black_48d.svg" alt="book_black">

            <h1 class="h3 mb-3 fw-normal">Register</h1>

            <div class="form-group">
                <div class="form-floating">
                    <input type="text" class="form-control" id="fname" placeholder="First Name">
                    <label for="fname">First Name</label>
                </div>
                <span class="text-danger" id="fname-validation"></span>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    <input type="text" class="form-control" id="lname" placeholder="Last Name">
                    <label for="lname">Last Name</label>
                </div>
                <span class="text-danger" id="lname-validation"></span>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    <input type="email" class="form-control" id="signup-email" placeholder="name@example.com">
                    <label for="signup-email">Email</label>
                </div>
                <span class="text-danger" id="signup-email-validation"></span>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    <input type="password" class="form-control" id="signup-password" placeholder="Password">
                    <label for="signup-password">Password</label>
                </div>
                <span class="text-danger" id="signup-password-validation"></span>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                    <label for="confirm-password">Confirm Password</label>
                </div>
                <span class="text-danger" id="confirm-password-validation"></span>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    <!-- TODO: input group with button -->
                    <input type="text" class="form-control" id="address"
                        placeholder="Street, Number, City, Postal Code...">
                    <label for="address">Address</label>
                </div>
                <span class="text-danger" id="address-validation"></span>
            </div>


            <button class="w-100 btn btn-lg btn-dark" id="signup-btn" type="submit">Submit</button>
            <p class="mt-5 mb-3 text-muted">&copy ELibrary - 2021</p>
        </form>
    </main>

    </body>

    </html>