<%- include('partials/header', { title: "Register" }); -%>

<main class="form-signin">

    <% if (message.length > 0) { %>
        <div class="alert alert-primary" role="alert">
            <p>
                <%= message %>
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <% if (errors.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <% if (Array.isArray(errors)) { %>
                <% errors.forEach((error) => { %>
                    <p> <%= error.msg %> </p>
                <% }); %>
            <% } else { %>
                <p> <%= errors %> </p>
            <% } %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <form method="POST">
        <img class="mb-4" src="/images/icons/book_black_48d.svg" alt="book_black">
        <h1 class="h3 mb-3 fw-normal">Register</h1>

        <div class="form-group">
            <div class="form-floating shadow-lg">
                <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name"
                       required>
                <label for="fname">First Name</label>
            </div>
            <span class="text-danger" id="fname-validation"></span>
        </div>

        <div class="form-group">
            <div class="form-floating shadow-lg">
                <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name"
                       required>
                <label for="lname">Last Name</label>
            </div>
            <span class="text-danger" id="lname-validation"></span>
        </div>

        <div class="form-group">
            <div class="form-floating shadow-lg">
                <input type="email" class="form-control" name="email" id="signup-email"
                       placeholder="name@example.com" required>
                <label for="signup-email">Email</label>
            </div>
            <span class="text-danger" id="signup-email-validation"></span>
        </div>

        <div class="form-group">
            <div class="form-floating shadow-lg">
                <input type="password" class="form-control" name="password" id="signup-password"
                       placeholder="Password" required>
                <label for="signup-password">Password</label>
            </div>
            <span class="text-danger" id="signup-password-validation"></span>
        </div>

        <div class="form-group">
            <div class="form-floating shadow-lg">
                <input type="password" class="form-control" name="confirm-password" id="confirm-password"
                       placeholder="Confirm Password" required>
                <label for="confirm-password">Confirm Password</label>
            </div>
            <span class="text-danger" id="confirm-password-validation"></span>
        </div>

        <button class="w-100 btn btn-lg btn-secondary shadow-lg" id="signup-btn" type="submit">Submit</button>
    </form>
</main>

</body>
</html>