body {
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #5a5a5a;
    /* Microsoft Edge */
    -ms-overflow-style: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

/* Chrome, Safari, Opera */
body::-webkit-scrollbar {
    width: 0 !important;
}

h1 {
    color: #5a5a5a;
    font-family: 'Roboto Light', sans-serif;
    margin-left: 1rem;
}

.card {
    background: rgba(65, 117, 133, 0.22);
    border-radius: 15px;
    width: 20rem;
    margin: 0.3rem;
    transition: 0.3s ease-in-out;
}

.fade-effect {
    opacity: 0;
}

.container {
    margin-right: .75rem;
    margin-left: .75rem;
}

.divider {
    margin-left: 2rem 0;
    margin-right: 2rem 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-link {
    text-decoration: none;
}

#footer-text {
    font-family: 'Roboto Light', sans-serif;
}

#add-book {
    margin-bottom: 0.5rem;
}

.input-group {
    width: auto;
    margin-left: 1rem;
}

.square {
    margin: 1rem;
    position: center;
    height: 190px;
    width: 190px;
    object-fit: cover;
    border-radius: 20px;
}

#filter-collapse-btn {
    width: auto;
}

#filter-collapse-body {
    background-color: white;
}

#profile-dropdown {
    margin-left: 0.5rem;
}