body {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    /* Microsoft Edge */
    -ms-overflow-style: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

/* Chrome, Safari, Opera */
body::-webkit-scrollbar {
    width: 0 !important;
}

main {
    background-color: white;
}

h1 {
    font-family: 'Roboto Bold 300', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.home-text {
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}

.bd-placeholder-img {
    width: 140px;
    height: 140px;
}

.navbar-title {
    font-family: 'Roboto', sans-serif;
}

.btn {
    align-content: center;
    align-self: center;
    align-items: center;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
    background: rgba(65, 117, 133, 0.22);
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.carousel-text {
    transition: 0.3s;
}

.carousel-text:hover {
    color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.social {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-link {
    text-decoration: none;
}

.background-effect {
    background: rgba(65, 117, 133, 0.22);
    border-radius: 25px;
    padding: 1rem;
}

.featurette-divider {
    margin: 5rem 0;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#login-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#login-link:hover {
    color: rgb(98, 98, 235);
}

#footer-text {
    font-family: 'Roboto Light', sans-serif;
}

#search {
    font-family: 'Roboto Light', sans-serif;
}

#profile-dropdown {
    margin-left: 0.5rem;
}