body {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  background-color: white;
}
  
  #footer-text {
    font-family: 'Roboto Light', sans-serif;
}