body {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
    /* Microsoft Edge */
    -ms-overflow-style: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

/* Chrome, Safari, Opera */
body::-webkit-scrollbar {
  width: 0 !important;
}

main {
  background-color: white;
}

.alert {
  margin: 2rem;
}

.divider {
  margin: 5rem 0;
}
  
  #footer-text {
    font-family: 'Roboto Light', sans-serif;
}

#profile-dropdown {
  margin-left: 0.5rem;
}