body {
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #5a5a5a;
    /* Microsoft Edge */
    -ms-overflow-style: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

/* Chrome, Safari, Opera */
body::-webkit-scrollbar {
    width: 0 !important;
}

h1 {
    color: #5a5a5a;
    font-family: 'Roboto Light', sans-serif;
    margin-left: 1rem;
}